.header {
  max-width: 100%;
  margin: 40px 0;

  &__container {
    @include container;
  }

  &__info {
    @extend %flex-sb;
  }

  &__start {
    @extend %flex-sb;
  }

  &__logo {
    margin-right: 20px;
  }

  &__navbar {
    list-style-type: none;
    @extend %flex-sb;
    gap: 40px;
  }

  label,
  input {
    display: none;
  }

  &__nav-item {
    @include font-public-sans;
    font-size: 15px;
    line-height: 18px;
    color: #36536b;
    text-decoration: none;
    opacity: 0.7;
  }

  &__nav-item:hover {
    opacity: 1;
  }

  &__link-item {
    @include font-public-sans;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #fbfcfe;
    text-decoration: none;
    padding: 15px 25px;
    background: #ba4270;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
  }
}

@media only screen and (max-width: 680px) {
  .header {
    &__container {
      max-width: 720px;
    }

    &__navbar {
      display: none;
      position: absolute;
      top: -16px;
      right: 0;
      width: 70%;
      height: 90%;
      padding-top: 90px;
      background: #1b262f;
      text-align: center;
    }

    &__nav-list {
      margin-bottom: 40px;
    }

    &__nav-item {
      color: #fbfcfe;
    }

    label {
      display: block;
    }

    #header__x {
      position: absolute;
      top: 50px;
      right: 23px;
    }

    &__link {
      display: none;
    }
  }
}

#check:checked ~ .header__navbar {
  display: block;
}

#check:checked ~ .header__link {
  display: block;
}

@media only screen and (max-width: 375px) {
  .header {
    &__container {
      max-width: 405px;
      margin: 0 auto;
      padding: 0 20px;
    }

    &__logo {
      margin: 0;
    }
  }
}
