.section-3 {
  max-width: 100%;

  &__container {
    @include container;
  }

  &__cards {
    @extend %flex-sb;
    align-items: start;
    gap: 25px;
  }

  &__card {
    text-align: center;
  }

  &__title {
    @include font-public-sans;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.138462px;
    color: #36536b;
    margin-top: 32px;
  }

  &__paragraf {
    max-width: 350px;
    @include font-public-sans;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.115385px;
    color: #6c8294;
  }
}

@media screen and (max-width: 756px) {
  .section-3 {
    &__cards {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media screen and (max-width: 756px) {
  .section-3 {
    &__title {
      max-width: 250px;
    }

    &__paragraf {
      max-width: 250px;
    }
  }
}
